<?php
$request = 'https://api.github.com'
?>
<!DOCTYPE html>
<html>
<head>
<title>GITTERIFIC</title>
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
<style>

    </style>
</head>

<body>
    <div class="background-primary header">
        <h1>Welcome to Gitterific</h1>
    </div>
 	<div class=" background-secondary main-search">
            <div class="wrap">
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="Search for your Repository...">
                    <button type="submit" class="searchButton">Go</button>
                </div>
            </div>
  	<div>
</body>

</html>
